# Core Django
Django>=5.2,<6.0
gunicorn

# Database & Config
dj-database-url
psycopg2-binary

# REST API
djangorestframework
django-cors-headers

# Authentication & Security
PyJWT
djangorestframework-simplejwt

# Payment Gateway
razorpay

# Static Files
whitenoise
